/* Import global assets for all apps */
/* Compass CSS3 Library */
/* Variables */
/* Breakpoints */
/* Font Smoothing */
/* Text Size Adjust */
/* Modules */
/* Globals */
/* Reset */
/* Reset */
/* Add HTML5 elements */
/* Defaults */
/* Reset */
/* line 18, ../_loom_compass/scss/loom/global/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* Elements */
/* Add HTML5 elements */
/* line 41, ../_loom_compass/scss/loom/global/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* Defaults */
/* line 53, ../_loom_compass/scss/loom/global/_reset.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  text-decoration: none;
}

/* line 57, ../_loom_compass/scss/loom/global/_reset.scss */
ul {
  list-style: none;
}

/* line 60, ../_loom_compass/scss/loom/global/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 65, ../_loom_compass/scss/loom/global/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 70, ../_loom_compass/scss/loom/global/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
/* line 45, ../_loom_compass/scss/loom/global/_typography.scss */
.ExcelsiorLT {
  font-family: ExcelsiorLT;
}

/* line 63, ../_loom_compass/scss/loom/global/_typography.scss */
html {
  font-size: 14px;
  line-height: 24px;
}
@media only screen and (min-width: 54.85714em) {
  /* line 63, ../_loom_compass/scss/loom/global/_typography.scss */
  html {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 85.71429em) {
  /* line 63, ../_loom_compass/scss/loom/global/_typography.scss */
  html {
    font-size: 18px;
    line-height: 30px;
  }
}

/* line 78, ../_loom_compass/scss/loom/global/_typography.scss */
html {
  font-family: "ff-meta-serif-web-pro", "ffmetaserifwebpro", Georgia, serif;
}

/* line 84, ../_loom_compass/scss/loom/global/_typography.scss */
h1,
.alpha, h2,
.beta, h3,
.gamma, h4,
.delta, h5,
.epsilon, h6,
.zeta {
  text-rendering: optimizeLegibility;
  display: block;
  font-weight: normal;
}

/* line 91, ../_loom_compass/scss/loom/global/_typography.scss */
h1,
.alpha, h2,
.beta, h3,
.gamma, h4,
.delta, h5,
.epsilon, h6,
.zeta, p {
  margin-bottom: 1.71429rem;
}
@media only screen and (min-width: 54.85714em) {
  /* line 91, ../_loom_compass/scss/loom/global/_typography.scss */
  h1,
  .alpha, h2,
  .beta, h3,
  .gamma, h4,
  .delta, h5,
  .epsilon, h6,
  .zeta, p {
    margin-bottom: 1.75rem;
  }
}
@media only screen and (min-width: 85.71429em) {
  /* line 91, ../_loom_compass/scss/loom/global/_typography.scss */
  h1,
  .alpha, h2,
  .beta, h3,
  .gamma, h4,
  .delta, h5,
  .epsilon, h6,
  .zeta, p {
    margin-bottom: 1.66667rem;
  }
}

/* line 105, ../_loom_compass/scss/loom/global/_typography.scss */
h1,
.alpha {
  font-size: 2.57143rem;
  line-height: 3.5rem;
}

/* line 113, ../_loom_compass/scss/loom/global/_typography.scss */
h2,
.beta {
  font-size: 1.71429rem;
}

/* line 120, ../_loom_compass/scss/loom/global/_typography.scss */
h3,
.gamma {
  font-size: 1.28571rem;
}

/* line 127, ../_loom_compass/scss/loom/global/_typography.scss */
h4,
.delta {
  font-size: 1.14286rem;
}

/* line 134, ../_loom_compass/scss/loom/global/_typography.scss */
h5,
.epsilon {
  font-size: 1rem;
  font-family: "proxima-nova", "proximanova", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 2rem;
}

/* line 144, ../_loom_compass/scss/loom/global/_typography.scss */
h6,
.zeta {
  font-size: 1.14286rem;
  line-height: 1.57143rem;
}

/* line 151, ../_loom_compass/scss/loom/global/_typography.scss */
p {
  font-weight: 300;
}

/* line 156, ../_loom_compass/scss/loom/global/_typography.scss */
a {
  text-decoration: none;
}

/* line 161, ../_loom_compass/scss/loom/global/_typography.scss */
nav li,
.sans {
  font-family: "proxima-nova", "proximanova", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* Media */
/* line 1, ../_loom_compass/scss/loom/global/_media.scss */
img, video, object {
  max-width: 100%;
  height: auto;
}

/* line 6, ../_loom_compass/scss/loom/global/_media.scss */
.squeeze-figure {
  overflow: hidden;
}
@media only screen and (min-width: 54.85714em) {
  /* line 6, ../_loom_compass/scss/loom/global/_media.scss */
  .squeeze-figure {
    height: 22em;
  }
}
@media only screen and (min-width: 85.71429em) {
  /* line 6, ../_loom_compass/scss/loom/global/_media.scss */
  .squeeze-figure {
    height: 28em;
  }
}

/* Theme */
/* line 1, ../_loom_compass/scss/loom/global/_colors.scss */
.underline {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e9e9e9;
}

/* Color */
/* line 6, ../_loom_compass/scss/loom/global/_colors.scss */
.tinted {
  background-color: #e9e9e9;
}

/* Helpers */
@media only screen and (min-width: 54.85714em) {
  /* line 2, ../_loom_compass/scss/loom/global/_helpers.scss */
  .right {
    float: right;
  }
}
/* line 7, ../_loom_compass/scss/loom/global/_helpers.scss */
.center {
  text-align: center;
}

/* line 11, ../_loom_compass/scss/loom/global/_helpers.scss */
.rythmn-up {
  padding-top: 1.71429rem;
}

/* line 15, ../_loom_compass/scss/loom/global/_helpers.scss */
footer {
  display: block;
}

/* Navigation */
/* line 1, ../_loom_compass/scss/loom/layout/_navigation.scss */
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

/* line 6, ../_loom_compass/scss/loom/layout/_navigation.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 14, ../_loom_compass/scss/loom/layout/_navigation.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/* line 18, ../_loom_compass/scss/loom/layout/_navigation.scss */
nav[role=navigation].active {
  max-height: 15em;
}

/* line 21, ../_loom_compass/scss/loom/layout/_navigation.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}

/* line 26, ../_loom_compass/scss/loom/layout/_navigation.scss */
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #808080;
}

@media only screen and (min-width: 54.85714em) {
  /* line 33, ../_loom_compass/scss/loom/layout/_navigation.scss */
  a.menu-link {
    display: none;
  }

  /* line 36, ../_loom_compass/scss/loom/layout/_navigation.scss */
  .js nav[role=navigation] {
    max-height: none;
  }

  /* line 39, ../_loom_compass/scss/loom/layout/_navigation.scss */
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }

  /* line 44, ../_loom_compass/scss/loom/layout/_navigation.scss */
  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  /* line 48, ../_loom_compass/scss/loom/layout/_navigation.scss */
  nav[role=navigation] li a {
    border: 0;
  }
}
/* Helpers */
@media only screen and (min-width: 54.85714em) {
  /* line 2, ../_loom_compass/scss/loom/global/_helpers.scss */
  .right {
    float: right;
  }
}
/* line 7, ../_loom_compass/scss/loom/global/_helpers.scss */
.center {
  text-align: center;
}

/* line 11, ../_loom_compass/scss/loom/global/_helpers.scss */
.rythmn-up {
  padding-top: 1.71429rem;
}

/* line 15, ../_loom_compass/scss/loom/global/_helpers.scss */
footer {
  display: block;
}

/* Grid Import */
/* line 19, ../_loom_compass/scss/loom/layout/_grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../_loom_compass/scss/loom/layout/_grid.scss */
.row {
  width: 100%;
  padding: 24px;
}
/* line 34, ../_loom_compass/scss/loom/layout/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 40, ../_loom_compass/scss/loom/layout/_grid.scss */
.row.collapse {
  padding: 0;
}
/* line 44, ../_loom_compass/scss/loom/layout/_grid.scss */
.row.collapse-tall {
  padding: 0;
}
@media only screen and (min-width: 54.85714em) {
  /* line 44, ../_loom_compass/scss/loom/layout/_grid.scss */
  .row.collapse-tall {
    padding: 0 96px;
  }
}
/* line 51, ../_loom_compass/scss/loom/layout/_grid.scss */
.row.full {
  padding: 0;
  max-width: 100%;
}
@media only screen and (min-width: 54.85714em) {
  /* line 30, ../_loom_compass/scss/loom/layout/_grid.scss */
  .row {
    max-width: 85.71429em;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 96px;
  }
}
/* line 63, ../_loom_compass/scss/loom/layout/_grid.scss */
.row .row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/* line 72, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit {
  float: left;
}
/* line 73, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of1 {
  float: none;
}
/* line 74, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of2 {
  width: 50%;
}
/* line 75, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of3 {
  width: 33.33333%;
}
/* line 76, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size2of3 {
  width: 66.66666%;
}
/* line 77, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of4 {
  width: 25%;
}
/* line 78, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size3of4 {
  width: 75%;
}
/* line 79, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size1of5 {
  width: 20%;
}
/* line 80, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size2of5 {
  width: 40%;
}
/* line 81, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size3of5 {
  width: 60%;
}
/* line 82, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit.size4of5 {
  width: 80%;
}

/* line 85, ../_loom_compass/scss/loom/layout/_grid.scss */
.unit-right {
  float: right;
}

/* line 90, ../_loom_compass/scss/loom/layout/_grid.scss */
.column {
  float: left;
  padding-right: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 54.85714em) {
  /* line 90, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column {
    padding-bottom: 0;
  }
  /* line 98, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of1 {
    float: none;
  }
  /* line 99, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of2 {
    width: 50%;
  }
  /* line 100, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of3 {
    width: 33.33333%;
  }
  /* line 101, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size2of3 {
    width: 66.66666%;
  }
  /* line 102, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of4 {
    width: 25%;
  }
  /* line 103, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size3of4 {
    width: 75%;
  }
  /* line 104, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size1of5 {
    width: 20%;
  }
  /* line 105, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size2of5 {
    width: 40%;
  }
  /* line 106, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size3of5 {
    width: 60%;
  }
  /* line 107, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.size4of5 {
    width: 80%;
  }
  /* line 108, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right {
    float: right;
  }
}
@media only screen and (min-width: 68.57143em) {
  /* line 112, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right1of2 {
    padding-right: 50%;
  }
  /* line 113, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right1of3 {
    padding-right: 33.33333%;
  }
  /* line 114, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right2of3 {
    padding-right: 66.66666%;
  }
  /* line 115, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right1of4 {
    padding-right: 25%;
  }
  /* line 116, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right3of4 {
    padding-right: 75%;
  }
  /* line 117, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right1of5 {
    padding-right: 20%;
  }
  /* line 118, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right2of5 {
    padding-right: 40%;
  }
  /* line 119, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right3of5 {
    padding-right: 60%;
  }
  /* line 120, ../_loom_compass/scss/loom/layout/_grid.scss */
  .column.right4of5 {
    padding-right: 80%;
  }
}

/* line 128, ../_loom_compass/scss/loom/layout/_grid.scss */
.panel {
  padding: 24px;
}

/* WP Import */
/* Wp-navigation */
/* Wp-layout */
